* {
	margin: 0;
	padding: 0;
}

.left{
	float: left;
}

.right{
	float: right;
}

.navbar {
	width: 100%;
	height: 48px;
	background-color: black;
}

.navbar ul li {
	display: inline-block;
	height: 100%;
}

.navbar ul li a {
	line-height: 48px;
	display: inline-block;
	height: 100%;
	color: white;
	margin-top: auto;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	font-weight: bold;
	text-decoration: none;
}

.navbar ul li a:hover {
	color: blue;
	cursor: pointer;
}

.guestform {
	position: absolute;
	width: 50%;
	margin-top: 0.15rem;
	margin-left: 5%;
	margin-right: 5%;
	color: black;
	white-space: nowrap;
}

.meetingtimes {
	width: 600px;
}

.attendees {
	color: white;
}

.label {
	color: white;
}

.textboxes {
	color: black;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  opacity: 1;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#sidenavheading {
	font-size: 22px;
	color: white;
}